<div class="container p-5">
    <h3>Hola!</h3>
    <p>
        Esta es la aplicación web que resuelve el CASO 3 de la prueba tecnica de Juan Camilo Naranjo Mejia para el cargo de desarrollador JR en Meico SA.
        <br>
        Es una aplicación construida con ASP .NET MVC, utilizando C# 7.0, adicionalmente, se usó una base de datos SQL SERVER.
        <br>
        para más información, visitar el <a href="https://github.com/juankidev/MeicoContactManager">repositorio de GitHub</a> del proyecto.
    </p>
</div>
