@{
    ContactViewModel contact = ViewBag.Contact;
}﻿

<div class="row d-flex justify-content-center w-100 mb-4 border-bottom border-primary">
    <div class="col-lg-4">
        <h5 class="h5">Update contact</h5>
    </div>
</div>

<form class="container" id="formContact">
    <div class="row">
        <div class="col-lg-4">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="mb-3">
                <label for="phone" class="form-label">Phone number:</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number" required>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="mb-3">
                <label for="company" class="form-label">Company:</label>
                <input type="text" class="form-control" id="company" name="company" placeholder="Company">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="mb-3">
                <label for="note" class="form-label">Note:</label>
                <input type="text" class="form-control" id="note" name="note" placeholder="Note...">
            </div>
        </div>
    </div>
</form>
